extends layout

block content
  h1= title
  p Welcome to Garden Spells
  .container
  | I am pleased to greet you on my Garden website. 
  | My name is Anna. My biggest passion (certainly, after the family) is cooking. 
  | I love to cook and experient with different ingredients and technicks. 
  | Furthermore, share deliciouse results with other people as well as with family and friends. 
  | That is exactly what you are about to discover right here.
  br
  .container
    .row.row-offcanvas.row-offcanvas-right
      .col-xs-12.col-sm-9.ftrecipe
        h1#title Featured Recipes
        .row
          .col-xs-6.col-lg-4
            img.img-responsive(src='images/rhubarb_strawberry_drink.jpg', alt='Responsive image')
            h2#title3 Rhubarb Strawberry Drink
            p#title4 Tasty and easy to make  Ukrainian drink. 
            p
              a.btn.btn-default.button1(href='/recipe/5996cbd2e82894001156d61f', role='button') go to recipe »
          // /.col-xs-6.col-lg-4
          .col-xs-6.col-lg-4
            img.img-responsive(src='images/lemon_garlic_shrimp_salad.jpg', alt='Responsive image')
            h2#title3 Lemon Garlic Shrimp Salad
            p#title4 Marinating precooked shrimp in garlic oil. 
            p
              a.btn.btn-default.button1(href='/recipe/5995816f0917a70011e7f463', role='button') go to recipe »
          .col-xs-6.col-lg-4
            img.img-responsive(src='images/greek_meatballs_with_tzatziki_sauce.jpg', alt='Responsive image')
            h2#title3 Greek Meatballs With Tzatziki Sauce
            p#title4  Mediterranean twist to your plate!
            p
              a.btn.btn-default.button1(href='/recipe/5996cc653200670011a563d8', role='button') go to recipe »
