extends layout

block content
  h1= title
  p Welcome t2222o #{title}
  p I am pleased to greet you on my Garden Spells recipes website. My name is Anna. My biggest passion (certainly, after the family) is cooking. I love to cook and experient with different ingredients and technicks. Furthermore, share deliciouse results with other people as well as with family and friends. That is exactly what you are about to discover right here. 
